$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$dark-grey: #777777;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 80px;
}

#logo {
    margin: 10px 10px 10px 0; /* top | right | bottom | left */
    float: left;
    font-size: 2em;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: white;
    text-decoration: none;
}

.nav_item {
    margin-top: 20px;
    margin-left: 25px;
    float: left;
}

.center {
    text-align: center;
}

h1, h2, h3, h4 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $dark-grey;
}

.left {
    text-align: left;
    letter-spacing: .5px;
}

.footer {
    margin-top: 25px;
    border-top: 1px solid #EAEAEA;
    color: $dark-grey;
}





/* From http://bootsnipp.com/snippets/featured/bootstrap-outline-buttons */
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
